html {
  font-size: 12.5px;
  box-sizing: content-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font_main;
  box-sizing: content-box;
  background: $background_color;
}

img {
  display: block;
  max-width: 100%;
}

a:hover, a:focus {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

button.btn {
  border-radius: $button_radius;
  width: 150px;
  height: 50px;
}

textarea.form-control {
  border-radius:$form_radius;
}

/*li {
  &:not([class='submenu']):hover {
    color:white;
    background: black;
  }
}*/

//input::-webkit-input-placeholder { color: lighten(#507299,20%); }

::-webkit-input-placeholder {
  font-weight: 500;
  color: lighten($main_color,20%);
}

:-moz-placeholder { /* Firefox 18- */
  color: lighten($main_color,20%);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: lighten($main_color,20%);
}

:-ms-input-placeholder {
  color: lighten($main_color,20%);
}

.fl_r {
  float: right!important;
}
.fl_l {
  float: left!important;
}
.clear {
  float: none;
  clear: both;
}

.min_height {
  min-height: 1000px;
}