// Dimensions
$content_max_width:960px;


// Radiuses
$button_radius:1px;
$form_radius:1px;

// Colors
$main_color: #507299;
$background_color:#edeef0;
$menu_backgound_color:#e1e5eb;

$search_background:#305075;
$search_color:#d9e2ec;

$top_nav_hover_color: #486991;
$text_color:#285473;

$main_gray_color:#939393;
$links_color:#2a5885;
$links_background:#f0f2f5;


// Shadows
$block_shadows:0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;