

// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Bree+Serif|Merriweather);

$font_main:"Merriweather", Helvetica, sans-serif;
$font_highlight:"Bree Serif", Helvetica, sans-serif;

// Dimensions

$content_max_width:992px;


// Radiuses

$button_radius:1px;
$form_radius:1px;